@import '../Components/Header/style.scss';
@import '../Components/RedditCard/style.scss';
body {
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto;
    scroll-behavior: smooth;
}
.loading{
    position: absolute;
    top: 25em;
}

.main-body {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #423e3e;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}